.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide/*

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/uploads/CV-34.pdf
/uploads/CV-111111111113.pdf
/uploads/CV-1111111111131.pdf
/uploads/CV-1111111111132.pdf
/uploads/Modul01.pdf
/uploads/mycv.pdf
/uploads/mycv1.pdf
/uploads/nikung.png
/uploads/sd_insight.png
/uploads/9-Pertemuan-9.docx
/uploads/9-Pertemuan-91.docx
/uploads/9-Pertemuan-92.docx
/uploads/a.jpg
/uploads/CV-3.pdf
/uploads/CV-31.pdf
/uploads/CV-32.pdf
/uploads/CV-33.pdf
